body {
  &.blog {
    h1 {
      &.page-title {
        padding-top: 0;
      }
    }

    div {
      &#primary {
        article {
          display: flex;
          flex-flow: column nowrap;

          header {
            &.entry-header {
              display: flex;
              flex-flow: column-reverse nowrap;
              margin: 0;
            }
          }

          div {
            &.post-thumbnail {
              text-align: center;
            }
          }
        }
      }
    }

    .page-header {
      padding-bottom: 1em;
    }
  }

  &.archive {
    &.page-one-column {
      &:not(.has-sidebar) {
        .page-header {
          margin-bottom: 0;

          @media screen and (min-width: 64em) {
            max-width: 1024px;
          }
        }

        #primary {
          @media screen and (min-width: 64em) {
            max-width: 1024px;
          }
        }
      }
    }

    h1 {
      &.page-title {
        padding-top: 0;
      }
    }

    div {
      &#primary {
        article {
          display: flex;
          flex-flow: column nowrap;

          header {
            &.entry-header {
              display: flex;
              flex-flow: column-reverse nowrap;
              margin: 0;
            }
          }

          div {
            &.post-thumbnail {
              text-align: center;
            }
          }
        }
      }
    }

    .page-header {
      padding-bottom: 1em;
    }

  }

  &.single-post {
    div {
     &.scot-single-featured-image-header {
        text-align: center;
      }
    }
  }
}
